.header{height: 100px;
	width: 100%;
	float: top;
	background: #ccc;
}
.nav{
	background: #ffe;
	width: 20%;
	float: left;
	height: 500px
}
.content{
	background: #fff;
	width: 80%;
	float: left;
	height: 500px
}
.content.main{
	margin-left: 5;
	border-left: solid #ccc 1px;
}
.footer{
	background: #005;
}